* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/WhatsApp\ Image\ 2023-08-08\ at\ 08.19.39.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: #d30000;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#postForm {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    max-width: 500px;
}

textarea {
    resize: vertical;
    max-height: 200px;
}

button {
    background-color: #d30000;
    color: #fff;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 0.25rem;
    border-radius: 8px;
    margin-top: 5px;
}

button:hover {
    background-color: #a00000;
    transition: 0.3s;
}

.itemPost {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.itemPost h2 {
    color: #a00000;
    margin-bottom: 5px;
}

.itemPost button {
    background-color: #d30000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

#list {
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

#itemPost button:hover {
    background-color: #a00000;
    transition: 0.3s;
}

.hidden {
    display: none;
}

.input-field {
    display: flex;
    color: #fff;
    background-color: #3b3b3b;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
}

input {
    outline: none;
    background-color: #3b3b3b;
    color: #fff;
}

textarea {
    outline: none;
    background-color: #3b3b3b;
    color: #fff;
}